:root {
    --pry-pale-blue: hsl(225, 100%, 94%);
    --pry-bright-blue:  hsl(245, 75%, 52%);

    --ntl-very-pale-blue: hsl(225, 100%, 98%);
    --ntl-very-pale-blue-100: hsl(226, 19%, 88%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    --ff-bold: 'Red Hat Display', sans-serif;

    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* general styling */
body {
    background-color: var(--pry-pale-blue);
    font-size: 16px;
    color: var(--desaturated-blue);
    font-weight: var(--fw-500);
    font-family: var(--ff-bold);

    display: grid;
    place-content: center;
    margin: 1rem;

}

.product {
  --content-padding: 2em;

  display: grid;
  gap: 1rem;
  background-color: var(--ntl-very-pale-blue);
  border-radius: 15px;
  overflow: hidden;
  max-width: 365px;
}

.product__content {
  padding: 0 var(--content-padding) var(--content-padding) var(--content-padding);
  display: grid;
  gap: 1rem;
}

.product__title, .cancel {
  text-align: center;
  font-weight: var(--fw-700);
}

.product__title {
  color: var(--Dark-blue);
}

.product__display {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--ntl-very-pale-blue-100);
  place-items: center;
  border-radius: 8px;
  padding: .5rem;
}

.text {
  font-weight: var(--fw-700);
}

.head {
  font-weight: var(--fw-900);
  color: var(--Dark-blue)
}

.button {
  padding: .5rem;
  border: 0;
  background-color: var(--pry-bright-blue);
  color: var(--ntl-very-pale-blue);
  border-radius: 5px;
  box-shadow: 5px 8px 20px rgb(102, 98, 98);
  cursor: pointer;
}